footer.footer 
	.section_in 
		.footer_main 
			.footer_left 
				.footer_logo 
					a(href="#")
						//- img(src="", alt="")
				.footer_info 
					ul 
						li 
							.info_txt 
								p Телефон:
							.info_mobil 
								a(href="#")
									+icon("call")
									p +7 (812) 243 10 54
						li 
							.info_txt 
								p Телефон:
							.info_mobil 
								a(href="#")
									+icon("mail")
									p info@avviso.ru
						li 
							.info_txt 
								p Телефон:
							.info_mobil 
								a(href="#")
									+icon("mapmark")
									p 199058, г. Санкт-Петербург, Морская набережная, дом 33 помещение 24-Н
			.footer_right 
				.footer_menu 
					ul 
						li 
							a(href="") Главная
						li 
							a(href="#") Бухгалтерские услуги
							.footer_menu_b 
								a(href="#") ООО
								a(href="#") ИП
								a(href="#") ЖКХ
								a(href="#") НКО 
						li 
							a(href="#") Юридические услуги
							.footer_menu_b 
								a(href="#") Регистрация
								a(href="#") Внесение изменений в ЕГРЮЛ и ЕГРИП
								a(href="#") Ликвидация
						li 
							a(href="#") О компании
						li
							a(href="#") Контакты

